flows.json
[{"id":"f6c69a87.d1f6a8","type":"tab","label":"Life Expectancy Flow","disabled":false,"info":""},{"id":"db0919a7.4a3f68","type":"function","z":"f6c69a87.d1f6a8","name":"PreToken","func":"global.set(\"co\",msg.payload.co)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"inde\",msg.payload.inde)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"dp\",msg.payload.dp)\nglobal.set(\"ha\",msg.payload.ha)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pplt\",msg.payload.pplt)\nglobal.set(\"th119\",msg.payload.th119)\nglobal.set(\"th59\",msg.payload.th59)\nglobal.set(\"icr\",msg.payload.icr)\nglobal.set(\"sch\",msg.payload.sch)\nvar apikey=\"273_ycjphI25y8CHj_3St88tDwI71dsCvY02IuyNlVUf\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":260,"wires":[["b4237bbb.2dc378"]]},{"id":"b4237bbb.2dc378","type":"http request","z":"f6c69a87.d1f6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":260,"wires":[["c1b2f45a.dd7568"]]},{"id":"2492c498.4c8f9c","type":"inject","z":"f6c69a87.d1f6a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":20,"wires":[["db0919a7.4a3f68"]]},{"id":"c86fd2b1.f3dbc","type":"debug","z":"f6c69a87.d1f6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":180,"wires":[]},{"id":"c1b2f45a.dd7568","type":"function","z":"f6c69a87.d1f6a8","name":"Pre Prediction","func":"var co = global.get('co')\nvar ye=global.get('ye')\nvar st=global.get('st')\nvar am=global.get('am')\nvar inde=global.get('inde')\nvar al=global.get('al')\nvar pe=global.get('pe')\nvar hb=global.get('hb')\nvar ms=global.get('ms')\nvar bmi=global.get('bmi')\nvar ufd=global.get('ufd')\nvar po=global.get('po')\nvar te=global.get('te')\nvar dp=global.get('dp')\nvar ha=global.get('ha')\nvar gdp=global.get('gdp')\nvar pplt=global.get('pplt')\nvar th119=global.get('th119')\nvar th59=global.get('th59')\nvar icr=global.get('icr')\nvar sch=global.get('sch')\nvar token=msg.payload.access_token\nvar instance_id=\"253bb26d-7623-4e0e-93ac-669b84aecc42\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Country\", \"Year\", \"Status\",\"Adult Mortality\",\n       \"infant deaths\", \"Alcohol\", \"percentage expenditure\",\"Hepatitis B\",\n       \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\",\n       \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\",\n       \" thinness  1-19 years\", \" thinness 5-9 years\",\n       \"Income composition of resources\", \"Schooling\"], \"values\": [[co,ye,st,am,inde,al,pe,hb,ms,bmi,ufd,po,te,dp,ha,gdp,pplt,th119,th59,icr,sch]]}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":260,"wires":[["13c60035.227e"]]},{"id":"13c60035.227e","type":"http request","z":"f6c69a87.d1f6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/253bb26d-7623-4e0e-93ac-669b84aecc42/deployments/7197100f-e6eb-418a-802d-9c2de0b25fc8/online","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":240,"wires":[["cbe5fd9b.3055"]]},{"id":"637cff62.ad476","type":"ui_form","z":"f6c69a87.d1f6a8","name":"","label":"Enter the required details for Life Expectancy Prediction.","group":"bac11c79.11d81","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"ye","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"inde","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles ","value":"ms","type":"number","required":true,"rows":null},{"label":" BMI ","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"po","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"dp","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"ha","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pplt","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"th119","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"th59","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"icr","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sch","type":"number","required":true,"rows":null}],"formValue":{"ye":"","am":"","inde":"","al":"","pe":"","hb":"","ms":"","bmi":"","ufd":"","po":"","te":"","dp":"","ha":"","gdp":"","pplt":"","th119":"","th59":"","icr":"","sch":""},"payload":"","submit":"Predict","cancel":"Cancel","topic":"","x":230,"y":400,"wires":[["db0919a7.4a3f68"]]},{"id":"65e71c2b.55cf54","type":"ui_text","z":"f6c69a87.d1f6a8","group":"bac11c79.11d81","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":300,"wires":[]},{"id":"cbe5fd9b.3055","type":"function","z":"f6c69a87.d1f6a8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["65e71c2b.55cf54","c86fd2b1.f3dbc"]]},{"id":"bac11c79.11d81","type":"ui_group","z":"","name":"Input Details","tab":"b25aa5fd.07afa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b25aa5fd.07afa8","type":"ui_tab","z":"","name":"Life Expectancy Prediction","icon":"dashboard","order":1,"disabled":false,"hidden":false}]